<<<<<<< HEAD
<h1>New Attraction</h1>

<%= form_for @attraction do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :tickets %><br>
  <%= f.number_field :tickets %><br>
  <%= f.label :min_height %><br>
  <%= f.number_field :min_height %><br>
  <%= f.label :nausea_rating %><br>
  <%= f.number_field :nausea_rating %><br>
  <%= f.label :happiness_rating %><br>
  <%= f.number_field :happiness_rating %><br>
  <%=  f.submit %>
<% end %>

<%= link_to 'Back', attractions_path %>
=======
<h1>New attraction</h1>

<%= render 'form' %>
>>>>>>> b4f61e3f557b1abea4b72f0069efd9c696d74495
